{% extends 'main.html' %}
{% block title %}Usuń mema :({% endblock %}
{% block body %}
<div class="card login_card" style="width: 40rem">
    <div class="card-body ">
        <h5 class="card-title delete_title">Czy na pewno chcesz usunąć mema?</h5>
        <form method="POST" role="form">
        {% csrf_token %}
            <div class="delete_buttons">
                <button type="submit" class="btn btn-info">Potwierdź <i class="fas fa-check"></i></button>
                <a href="{% url 'Home' %}"><button type="button" class="btn btn-info">Anuluj <i class="fas fa-times"></i></button></a>
            </div>
    </form>
    </div>
</div>
{% endblock %}

