{% extends 'main.html' %}
{% load bootstrap %}
{% block title %}Dodaj mema!{% endblock %}
{% block body %}
<div class="card create_card edit-add-card">
    <div class="card-body ">
        <h5 class="card-title login_title">Dodaj mema!</h5>
        <small >Pola zaznaczone gwiazdką są obowiązkowe*</small>
        <form method="post" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-info add_edit_button">Dodaj <i class="fas fa-plus"></i></button>
        </form>
    </div>
</div>
{% endblock %}
