body{
    background-color: #badaff;
}
img{
    width:15rem;
}
small{
    color:grey;
}
span.help-block{
    color:red;
    font-weight: bold;
}
.login_card{
    margin-top: 13%;
    margin-left: 32%;
    width:40rem;
}

.login_button{
    margin-left:38%;
}
.login_title{
    margin-left:40%;
}
#createAcc{
    margin-left:33%;
}
.Meme{
    background-color: #c3eaff;
}

.delete_buttons{
    margin-left:30%;
}

.delete_title{
    margin-left:20%;
}
.nav_bar{
    background-color: #c3eaff;
}

.form-group{
    margin-bottom: 3px;
}

.card-body{
    padding-top:1px;
    padding-bottom:1px;
}

.help-block{
    color:grey;
    font-size:0.8rem;
    margin-bottom:3px;
}
.add_edit_button{
    margin-left:42%;
}
.edit-add-card{
    margin-left:28%;
    margin-top:2%;
    width:50rem;
}
.menu_icons{
    margin-left:30%
}
.footer{
    background-color: red;
}
.big_card{
    margin-left:33%;
    width:40rem;
    border: solid 1px #928bd6;
}